<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPoliceWorkMapper">

    <resultMap type="SysPoliceWork" id="SysPoliceWorkResult">
        <result property="id"    column="id"    />
        <result property="agencyName"    column="agency_name"    />
        <result property="writeName"    column="write_name"    />
        <result property="writeTime"    column="write_time"    />
        <result property="isQuestion"    column="is_question"    />
        <result property="isModify"    column="is_modify"    />
        <result property="reserved1"    column="reserved_1"    />
        <result property="reserved2"    column="reserved_2"    />
        <result property="reserved3"    column="reserved_3"    />
        <result property="reserved4"    column="reserved_4"    />
        <result property="reserved5"    column="reserved_5"    />
    </resultMap>

    <sql id="selectSysPoliceWorkVo">
        select id, agency_name, write_name, write_time, is_question, is_modify, reserved_1, reserved_2, reserved_3, reserved_4, reserved_5 from sys_police_work
    </sql>

    <select id="selectSysPoliceWorkList" parameterType="SysPoliceWork" resultMap="SysPoliceWorkResult">
        <include refid="selectSysPoliceWorkVo"/>
        <where>
            <if test="agencyName != null  and agencyName != ''"> and agency_name = #{agencyName}</if>
            <if test="writeName != null  and writeName != ''"> and write_name like concat('%', #{writeName}, '%')</if>
            <if test="writeTime != null "> and write_time = #{writeTime}</if>
            <if test="isQuestion != null  and isQuestion != ''"> and is_question = #{isQuestion}</if>
            <if test="isModify != null  and isModify != ''"> and is_modify = #{isModify}</if>
            <if test="reserved1 != null "> and reserved_1 = #{reserved1}</if>
            <if test="reserved2 != null "> and reserved_2 = #{reserved2}</if>
            <if test="reserved3 != null  and reserved3 != ''"> and reserved_3 = #{reserved3}</if>
            <if test="reserved4 != null  and reserved4 != ''"> and reserved_4 = #{reserved4}</if>
            <if test="reserved5 != null  and reserved5 != ''"> and reserved_5 = #{reserved5}</if>
        </where>
        order by write_time desc
    </select>

    <select id="selectSysPoliceWorkById" parameterType="Long" resultMap="SysPoliceWorkResult">
        <include refid="selectSysPoliceWorkVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysPoliceWork" parameterType="SysPoliceWork" useGeneratedKeys="true" keyProperty="id">
        insert into sys_police_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agencyName != null">agency_name,</if>
            <if test="writeName != null">write_name,</if>
            <if test="writeTime != null">write_time,</if>
            <if test="isQuestion != null">is_question,</if>
            <if test="isModify != null">is_modify,</if>
            <if test="reserved1 != null">reserved_1,</if>
            <if test="reserved2 != null">reserved_2,</if>
            <if test="reserved3 != null">reserved_3,</if>
            <if test="reserved4 != null">reserved_4,</if>
            <if test="reserved5 != null">reserved_5,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agencyName != null">#{agencyName},</if>
            <if test="writeName != null">#{writeName},</if>
            <if test="writeTime != null">#{writeTime},</if>
            <if test="isQuestion != null">#{isQuestion},</if>
            <if test="isModify != null">#{isModify},</if>
            <if test="reserved1 != null">#{reserved1},</if>
            <if test="reserved2 != null">#{reserved2},</if>
            <if test="reserved3 != null">#{reserved3},</if>
            <if test="reserved4 != null">#{reserved4},</if>
            <if test="reserved5 != null">#{reserved5},</if>
        </trim>
    </insert>

    <update id="updateSysPoliceWork" parameterType="SysPoliceWork">
        update sys_police_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="agencyName != null">agency_name = #{agencyName},</if>
            <if test="writeName != null">write_name = #{writeName},</if>
            <if test="writeTime != null">write_time = #{writeTime},</if>
            <if test="isQuestion != null">is_question = #{isQuestion},</if>
            <if test="isModify != null">is_modify = #{isModify},</if>
            <if test="reserved1 != null">reserved_1 = #{reserved1},</if>
            <if test="reserved2 != null">reserved_2 = #{reserved2},</if>
            <if test="reserved3 != null">reserved_3 = #{reserved3},</if>
            <if test="reserved4 != null">reserved_4 = #{reserved4},</if>
            <if test="reserved5 != null">reserved_5 = #{reserved5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPoliceWorkById" parameterType="Long">
        delete from sys_police_work where id = #{id}
    </delete>

    <delete id="deleteSysPoliceWorkByIds" parameterType="String">
        delete from sys_police_work where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>